<!-- <div *ngFor = "let empl of employers">
  <p>{{empl.name}}</p>
  <p>{{empl.sallary}}</p>
</div>

<button (click) = "goToManage()">Manage employers</button> -->

<input type="text" [(ngModel)] = "user.name"> <br>
<input type="text" [(ngModel)]= "user.lastName"> <br>
<input type="text" [(ngModel)] = "user.email"> <br>
<input type="text" [(ngModel)] = "user.password"> <br>
<button (click) = "signUp()">Sign Up</button>
<br>
<br>

<input type="text" [(ngModel)] = "loginUser.email"> <br>
<input type="text" [(ngModel)]= "loginUser.password"> <br>
<button (click) = "Login()">Login</button>
